* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

.contenedor {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.contenedor__form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contenedor__menu {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #2e2e2e;
}

.formulario {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    height: 70vh;
    width: 97%;
    border: black;
}

.lineas {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    color: blue;
    width: 3%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: end;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.menu {
    width: 100%;
    height: 100%;
    background-color:ghostwhite;
    color: black;
}

.tabla {
    width: 100%;
}

.pie {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2E2E;
    height: 80px;
    width: 100%;
}

.pie p {
    color: white;
    font-size: 20px;
    margin: 0;
}