<div class="contenedor__form">
    <div class="card" style="width: 24rem;">
        <div class="card-header">
            <p class="titulo">Template</p>
        </div>

        <div class="card-body">
            <form action="/add" method="POST">
                <div class="form-group">
                    <input type="text" id="" name="" placeholder="" class="form-control" autofocus>
                </div>
    
                <div class="contenedor__form">
                    <button type="submit" id="" name="" class="btn btn-primary"></button>
                </div>
            </form>
        </div>
    </div>
</div>
