<table class="table table-bordered table-hover tabla">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Token</th>
            <th scope="col">Descripción</th>
            <th scope="col">Linea</th>
        </tr>
    </thead>
    <tbody id="resultado">
    </tbody>
</table>