<div class="table-wrapper-scroll-y my-custom-scrollbar tabla" id="tablaLex">
    <table class="table table-hover">
        <thead class="thead-gray">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Token</th>
                <th scope="col">Descripción</th>
                <th scope="col">Linea</th>
            </tr>
        </thead>
        <tbody id="resultado">
        </tbody>
    </table>
</div>